<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PST_RentalU"
        android:name=".MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".view_house"
            android:exported="false" />
        <activity
            android:name=".profile_layout"
            android:exported="false" />
        <activity
            android:name=".setting_layout"
            android:exported="false" />
        <activity
            android:name=".about_us"
            android:exported="false" />
        <activity
            android:name=".newsfeed_page"
            android:exported="false" />
        <activity
            android:name=".view_property"
            android:exported="false" />
        <activity
            android:name=".property_add_page"
            android:exported="false" />
        <activity
            android:name=".signup_page"
            android:exported="false" />
        <activity
            android:name=".login_page"
            android:exported="false" />
        <activity
            android:name=".LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>